.popup__input-error {
    display: none;
    position: absolute;
    margin: 5px 0 0 22px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    margin-bottom: 13px;
    margin-left: 36px;
}
