.popup__button-save {
    margin: 44px 22px 25px 22px;
    padding: 0;
    border: none;
    border-radius: 2px;
    width: 238px;
    height: 46px;
    background-color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
    transition: opacity 1s ease;
}

.popup__button-save:hover {
    opacity: 0.8;
}

.popup__button-save:disabled {
    background: #e5e5e5;
    cursor: not-allowed;
}

@media (min-width: 650px) {
    .popup__button-save {
        margin: 48px 36px 36px 36px;
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}
