.profile {
    padding: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 950px) {
    .profile {
        padding-left: 0;
        max-width: 880px;
        flex-direction: row;
        justify-content: start;
    }
}
