.profile {
    padding: 40px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 950px) {
    .profile {
        max-width: 880px;
        padding: 40px 0 16px 0;
        display: grid;
        grid-template-columns: 120px 1fr 150px;
        gap: 30px;
    }
}
