.header {
    padding: 0;
    background-color: #000;
    max-width: 320px;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (min-width: 650px) {
    .header {
        max-width: 580px;
    }
}

@media (min-width: 950px) {
    .header {
        max-width: 880px;
    }
}
