.popup__description {
    margin: 28px 22px 0;
    padding-bottom: 12px;
    width: 238px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 650px) {
    .popup__description {
        margin: 26px 36px 0 36px;
        padding-bottom: 12px;
        width: 358px;
    }
}
