.popup__name {
    margin: 68px 22px 0 22px;
    padding-bottom: 12px;
    width: 238px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 650px) {
    .popup__name {
        margin: 42px 36px 0 36px;
        width: 358px;
    }
}
