.button-edit {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: #000;
    align-self: center;
}

@media (min-width: 650px) {
    .button-edit {
        width: 24px;
        height: 24px;
    }
}
