.edit-form__description {
    margin: 28px 22px 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 650px) {
    .edit-form__description {
        margin: 30px 36px 0 36px;
        padding-bottom: 12px;
        width: 358px;
        border-bottom: 1px solid #000000;
    }
}
