.profile__title {
    margin: 0;
    padding: 22px 0 0 0;
    max-width: 282px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 650px) {
    .profile__title {
        max-width: 580px;
    }
}

@media (min-width: 950px) {
    .profile__title {
        max-width: 330px;
    }
}
