.elements {
    margin-top: 0;
    margin-bottom: 0;
    padding: 36px 20px 16px 20px;
    list-style-type: none;
    display: grid;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 650px) {
    .elements {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(2, 362px);
        gap: 20px 16px;
    }
}

@media (min-width: 920px) {
    .elements {
        grid-template-columns: repeat(3, 282px);
    }
}
