.edit-form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
