.button-edit_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: transparent;
    align-self: center;
    position: relative;


}

.button-edit_avatar:hover {
    opacity: 1;
    background-image: url(../../../images/edit.svg);
    color: #fff;
    z-index: 1;
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center;
}
