.popup__button-close {
    margin: 0;
    padding: 0;
    background-image: url(../../../images/close.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 20px;
    height: 20px;
    position: relative;
    top: -36px;
    left: 262px;
    z-index: 5;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: opacity 1s ease;
}

.popup__button-close:hover {
    opacity: 0.5;
}

@media (min-width: 650px) {
    .popup__button-close {
        width: 32px;
        height: 32px;
        top: -40px;
        left: 438px;
    }
}
