.edit-form__save {
    margin: 58px 22px 25px;
    padding: 0;
    border: none;
    border-radius: 2px;
    width: 238px;
    height: 46px;
    background-color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
    cursor: pointer;
    transition: opacity 1s ease;
}

.edit-form__save:hover {
    opacity: 0.5;
}

@media (min-width: 650px) {
    .edit-form__save {
        margin: 48px 36px 36px 36px;
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}
